In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import requests
import json

In [2]:
data=pd.read_csv('../movies/Movie_Data.csv' , encoding='1252')
data.head(10)

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
5,6,The Great Wall,"Action,Adventure,Fantasy",European mercenaries searching for black powde...,Yimou Zhang,"Matt Damon, Tian Jing, Willem Dafoe, Andy Lau",2016,103,6.1,56036,45.13,42.0
6,7,La La Land,"Comedy,Drama,Music",A jazz pianist falls for an aspiring actress i...,Damien Chazelle,"Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....",2016,128,8.3,258682,151.06,93.0
7,8,Mindhorn,Comedy,A has-been actor best known for playing the ti...,Sean Foley,"Essie Davis, Andrea Riseborough, Julian Barrat...",2016,89,6.4,2490,NaN,71.0
8,9,The Lost City of Z,"Action,Adventure,Biography","A true-life drama, centering on British explor...",James Gray,"Charlie Hunnam, Robert Pattinson, Sienna Mille...",2016,141,7.1,7188,8.01,78.0
9,10,Passengers,"Adventure,Drama,Romance",A spacecraft traveling to a distant colony pla...,Morten Tyldum,"Jennifer Lawrence, Chris Pratt, Michael Sheen,...",2016,116,7.0,192177,100.01,41.0

In [3]:
data.shape

(1000, 12)

In [4]:
data.info

<bound method DataFrame.info of      Rank                    Title                     Genre  \
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
995  A tight-knit team of rising investigators, alo...             Billy Ray
996  Three American college students studying abroa...              Eli Roth
997  Romantic sparks occur between two dance studen...            Jon M. Chu
998  A pair of friends embark on a mission to reuni...        Scot Armstrong
999  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
..                                                 ...   ...
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                  121     8.1  757074              333.13       76.0
1                  124     7.0  485820              126.46       65.0
2                  117     7.3  157606              138.12       62.0
3                  108     7.2   60545              270.32       59.0
4                  123     6.2  393727              325.02       40.0
..                 ...     ...     ...                 ...        ...
995                111     6.2   27585                 NaN       45.0
996                 94     5.5   73152               17.54       46.0
997                 98     6.2   70699               58.01       50.0
998                 93     5.6    4881                 NaN       22.0
999                 87     5.3   12435               19.64       11.0

[1000 rows x 12 columns]>

In [5]:
data.dtypes

Rank                    int64
Title                  object
Genre                  object
Description            object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

In [6]:
data.isnull().values.any()

True

In [7]:
data.isnull().sum().sum()

192

In [8]:
data.isnull().sum()

Rank                    0
Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [9]:
data.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [10]:
data1=data[['Genre','Director','Title','Year','Rating','Revenue (Millions)']]
data1

,Genre,Director,Title,Year,Rating,Revenue (Millions)
0,"Action,Adventure,Sci-Fi",James Gunn,Guardians of the Galaxy,2014,8.1,333.13
1,"Adventure,Mystery,Sci-Fi",Ridley Scott,Prometheus,2012,7.0,126.46
2,"Horror,Thriller",M. Night Shyamalan,Split,2016,7.3,138.12
3,"Animation,Comedy,Family",Christophe Lourdelet,Sing,2016,7.2,270.32
4,"Action,Adventure,Fantasy",David Ayer,Suicide Squad,2016,6.2,325.02
...,...,...,...,...,...,...
995,"Crime,Drama,Mystery",Billy Ray,Secret in Their Eyes,2015,6.2,NaN
996,Horror,Eli Roth,Hostel: Part II,2007,5.5,17.54
997,"Drama,Music,Romance",Jon M. Chu,Step Up 2: The Streets,2008,6.2,58.01
998,"Adventure,Comedy",Scot Armstrong,Search Party,2014,5.6,NaN
999,"Comedy,Family,Fantasy",Barry Sonnenfeld,Nine Lives,2016,5.3,19.64

In [11]:
data1=data1.rename(columns = {'Revenue (Millions)':'Revenue(M$)'})
data1

,Genre,Director,Title,Year,Rating,Revenue(M$)
0,"Action,Adventure,Sci-Fi",James Gunn,Guardians of the Galaxy,2014,8.1,333.13
1,"Adventure,Mystery,Sci-Fi",Ridley Scott,Prometheus,2012,7.0,126.46
2,"Horror,Thriller",M. Night Shyamalan,Split,2016,7.3,138.12
3,"Animation,Comedy,Family",Christophe Lourdelet,Sing,2016,7.2,270.32
4,"Action,Adventure,Fantasy",David Ayer,Suicide Squad,2016,6.2,325.02
...,...,...,...,...,...,...
995,"Crime,Drama,Mystery",Billy Ray,Secret in Their Eyes,2015,6.2,NaN
996,Horror,Eli Roth,Hostel: Part II,2007,5.5,17.54
997,"Drama,Music,Romance",Jon M. Chu,Step Up 2: The Streets,2008,6.2,58.01
998,"Adventure,Comedy",Scot Armstrong,Search Party,2014,5.6,NaN
999,"Comedy,Family,Fantasy",Barry Sonnenfeld,Nine Lives,2016,5.3,19.64

In [12]:
data1['Revenue(M$)'].fillna(0, inplace=True)
data1

,Genre,Director,Title,Year,Rating,Revenue(M$)
0,"Action,Adventure,Sci-Fi",James Gunn,Guardians of the Galaxy,2014,8.1,333.13
1,"Adventure,Mystery,Sci-Fi",Ridley Scott,Prometheus,2012,7.0,126.46
2,"Horror,Thriller",M. Night Shyamalan,Split,2016,7.3,138.12
3,"Animation,Comedy,Family",Christophe Lourdelet,Sing,2016,7.2,270.32
4,"Action,Adventure,Fantasy",David Ayer,Suicide Squad,2016,6.2,325.02
...,...,...,...,...,...,...
995,"Crime,Drama,Mystery",Billy Ray,Secret in Their Eyes,2015,6.2,0.00
996,Horror,Eli Roth,Hostel: Part II,2007,5.5,17.54
997,"Drama,Music,Romance",Jon M. Chu,Step Up 2: The Streets,2008,6.2,58.01
998,"Adventure,Comedy",Scot Armstrong,Search Party,2014,5.6,0.00
999,"Comedy,Family,Fantasy",Barry Sonnenfeld,Nine Lives,2016,5.3,19.64

In [13]:
data1.sort_values(by=['Year'], ascending=False,inplace=True)
data1

,Genre,Director,Title,Year,Rating,Revenue(M$)
999,"Comedy,Family,Fantasy",Barry Sonnenfeld,Nine Lives,2016,5.3,19.64
161,"Action,Comedy,Crime",Ben Wheatley,Free Fire,2016,7.0,1.80
647,"Fantasy,Horror,Thriller",Jonathan Holbrook,Tall Men,2016,3.2,0.00
234,"Action,Adventure,Drama",Cedric Nicolas-Troyan,The Huntsman: Winter's War,2016,6.1,47.95
653,"Comedy,Music",Akiva Schaffer,Popstar: Never Stop Never Stopping,2016,6.7,9.39
...,...,...,...,...,...,...
715,"Animation,Comedy,Family",George Miller,Happy Feet,2006,6.5,197.99
727,"Drama,Mystery,Romance",Neil Burger,The Illusionist,2006,7.6,39.83
965,"Drama,Mystery,Thriller",David Lynch,Inland Empire,2006,7.0,0.00
559,"Adventure,Comedy,Sci-Fi",Mike Judge,Idiocracy,2006,6.6,0.44
230,"Drama,Fantasy,War",Guillermo del Toro,Pan's Labyrinth,2006,8.2,37.62

In [14]:
data2=data1.set_index('Year')
data2

,Genre,Director,Title,Rating,Revenue(M$)
Year,,,,,
2016,"Comedy,Family,Fantasy",Barry Sonnenfeld,Nine Lives,5.3,19.64
2016,"Action,Comedy,Crime",Ben Wheatley,Free Fire,7.0,1.80
2016,"Fantasy,Horror,Thriller",Jonathan Holbrook,Tall Men,3.2,0.00
2016,"Action,Adventure,Drama",Cedric Nicolas-Troyan,The Huntsman: Winter's War,6.1,47.95
2016,"Comedy,Music",Akiva Schaffer,Popstar: Never Stop Never Stopping,6.7,9.39
...,...,...,...,...,...
2006,"Animation,Comedy,Family",George Miller,Happy Feet,6.5,197.99
2006,"Drama,Mystery,Romance",Neil Burger,The Illusionist,7.6,39.83
2006,"Drama,Mystery,Thriller",David Lynch,Inland Empire,7.0,0.00
2006,"Adventure,Comedy,Sci-Fi",Mike Judge,Idiocracy,6.6,0.44
2006,"Drama,Fantasy,War",Guillermo del Toro,Pan's Labyrinth,8.2,37.62

In [15]:
data2.sort_values(by=['Rating'], ascending=False,inplace=True)
data2.head(10)

,Genre,Director,Title,Rating,Revenue(M$)
Year,,,,,
2008,"Action,Crime,Drama",Christopher Nolan,The Dark Knight,9.0,533.32
2016,"Action,Biography,Drama",Nitesh Tiwari,Dangal,8.8,11.15
2010,"Action,Adventure,Sci-Fi",Christopher Nolan,Inception,8.8,292.57
2014,"Adventure,Drama,Sci-Fi",Christopher Nolan,Interstellar,8.6,187.99
2011,"Biography,Comedy,Drama",Olivier Nakache,The Intouchables,8.6,13.18
2016,"Animation,Drama,Fantasy",Makoto Shinkai,Kimi no na wa,8.6,4.68
2014,"Drama,Music",Damien Chazelle,Whiplash,8.5,13.09
2006,"Drama,Thriller",Florian Henckel von Donnersmarck,The Lives of Others,8.5,11.28
2012,"Action,Thriller",Christopher Nolan,The Dark Knight Rises,8.5,448.13
2006,"Drama,Mystery,Sci-Fi",Christopher Nolan,The Prestige,8.5,53.08

In [16]:
url = "https://imdb8.p.rapidapi.com"
response = requests.get(url)
response

In [19]:
def getFromRAPI(endpoint, queryParams={}):
    url = f"https://imdb8.p.rapidapi.com{endpoint}"
    querystring = {"tconst":"tt0944947"}
    apiKey = os.getenv("RAPIKEY")
    if not apiKey:
        raise ValueError("Please setup the RAPIKEY env variable")
    headers = {
        'x-rapidapi-host': "imdb8.p.rapidapi.com"
        'Authorization' : f"token {apiKey}"
    }
    
    res = requests.get(url, headers=headers, params=querystring)
    print(res.url)
    return res.json()

SyntaxError: invalid syntax (<ipython-input-19-9540ac253ffd>, line 9)

In [21]:
url = "https://imdb8.p.rapidapi.com/title/get-top-cast"

querystring = {"tconst":"tt0944947"}
apiKey = os.getenv("RAPIKEY")
headers = {
    'x-rapidapi-host': "imdb8.p.rapidapi.com",
    'x-rapidapi-key': f"token{apiKey}"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{"message":"Oops, an error occurred. Please contact support@rapidapi.com"}

In [ ]:
import requests

url = "https://imdb8.p.rapidapi.com/title/get-top-cast"

querystring = {"tconst":"tt0944947"}

headers = {
    'x-rapidapi-host': "imdb8.p.rapidapi.com",
    'x-rapidapi-key': ""
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

TypeError: get() got multiple values for argument 'params'